* {
    box-sizing: border-box;
}

html{
    /* height: 100%; */
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.canvas {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 320px;
    border: 1px solid black;
}

.pixel {
    width: 20px;
    height: 20px;
}

.etched {
    background: black;
}